ion-button.btn-google{
    --ion-color-base: var(--ion-color-google) !important;
    --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
    --ion-color-contrast: var(--ion-color-google-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-google-shade) !important;
    --ion-color-tint: var(--ion-color-google-tint) !important;
  }