/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
    font-family: "Google Sans", sans-serif;
}
:root{
    --main-bg-color: #fbfbfb;
    --main-contrast-color: #212121;
    --facebook-bg-color: #3b5998;
    --facebook-contrast-color: #fff;
    --google-bg-color: 	#d62d20;
    --google-contrast-color: #fff;
    --github-bg-color: 	#24292e;
    --github-contrast-color: #fff;
    --primary-bg-color: #ff7373;
    --primary-contrast-color: #fff;
    --secondary-bg-color: #008489;
    --secondary-contrast-color: #fff;
}

.bg-primary-bg-color{
    background-color:  var(--primary-bg-color);
}

.bg-secondary-bg-color{
    background-color:  var(--secondary-bg-color);
}

.contrast-primary-contrast-color{
    color: var(--primary-contrast-color);
}

.contrast-primary-bg-color{
    color: var(--primary-bg-color);
}

.contrast-secondary-contrast-color{
    color: var(--secondary-contrast-color);
}

.contrast-secondary-bg-color{
    color: var(--secondary-bg-color);
}

body{
    background-color: var(--main-bg-color);
}

